<nav>
    <link rel="stylesheet" href="/stylesheets/partials.css" />

    <% if(user) { %>
        <div class="navbar">
            <div class="nav-links">
        <a class="Task-link" href="/users/<%= user._id %>/todos">Your Tasks</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
            </div>
        </div>
    <% } else { %>
        <div class="navbar">
            <div class="nav-links">
      <a class="authlink" href="/auth/sign-in">Sign In</a>
      <a class="authlink" href="/auth/sign-up">Sign Up</a>
    <% } %>
            </div>
        </div>
  </nav>
  