<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Welcome to Todo List App!</h1>
    <h3>An app for organization and having all your tasks in one app.</h3>

    <p>Existing user:</p>
    <a href="/auth/sign-in">sign in</a>

        <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>
        <p>
        <a href="/auth/sign-out">Sign out</a>
        </p>
            <% } else { %>
    <p>New user? Create an account:</p>
        <p>
            <a href="/auth/sign-up">Sign up</a>
        </p>
        <% } %>
  </body>
</html>

