@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/564x/b9/a1/c1/b9a1c1fa2c1d07b7b00398c8bf5b00c1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

  }

  .main-header {
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: tan;
  }

  .subheader {
    text-align: center;
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
  }

  .sign-link {
    background-color: #935c26;
    color: white;
    margin: 0 0 20px 0;
    text-decoration: none;
    border-radius: 20px;
    width: 5em;
    text-align: center;
  }
  
  .task-headers-intro {
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(148, 128, 101);
    border-radius: 30px;
  }

  h2 {
    text-align: center;
  }
  
  .router-buttons {
    padding: 10px;
    background-color: #ce4866;
    color: white;
    border: 0;
    border-radius: 30px;
    font-size: 20;
    display: flex;
    margin-bottom: 40px;

  }

  .add-task {
    color: white;
    margin: auto;
  }
  

  .tasks-container {
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 40px;
    background-color: rgb(83, 127, 160);
    border-radius: 30px;
  }