<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Welcome to Your Todo List App!</h1>
    <h2>Your Todo List</h2>
  <ul>
    <% todos.forEach(todo => { %>
      <li><%= todo.name %></li>
    <% }); %>
  </ul>
<a href="/todos">Your Tasks</a>
<a href="/todos/new">Add New Task</a>



  </body>
</html>
