<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Task</title>
  </head>
  <body>
    <h1>Create Your New Todo Task</h1>
    <div>   
        <a href="/todos/">Back to Your Tasks</a>

        <form action="/todos" method="POST">
            <label for="name">Todo Name:</label>
            <input type="text" name="name" id="name" required>

            <label for="date">Date:</label>
            <input type="text" name="date" id="date">

            <label for="note">Notes:</label>
            <input type="text" name="notes" id="notes">
            
            <input type="checkbox" name="status" id="status">
            <label>Did you finish?</label>

            <button type="submit">Add Task</button>
         </form>



  </body>
</html>
